<h1>New roadmap_milestone</h1>

<% form_for(@roadmap_milestone) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', roadmap_milestones_path %>