<center>
  <div style="padding-top: 10px"></div>
<img src="<%=  ("http://chart.apis.google.com/chart?
chxl=0:||" + @mid_2 + "|" + @mid + "|" + @max + "|1:" +
@iterations +
"&chxr=0,5,100
&chxs=0,676767,11.5,0,lt,676767|1,676767,11.5,0,lt,676767
&chxt=y,x
&chs=420x200
&cht=ls
&chco=DA3B15,008000,4582E7
&chds=0,80,-5,95
&chd=t:" + @values +
"&chdl=RC(" + @currency + ")|EV("+ @currency + ")|PV(" + @currency + ")&chg=16,16,5,0
&chls=2|2|2")%>" width="420" height="200" alt="" />
</center>