<center>
  <div style="padding-top: 10px"></div>
<img src="<%=  ("http://chart.apis.google.com/chart?
chxl=0:|" + @iterations + "1:|0|" + @mid_1 +"|" + @mid_2 + "|" +@mid + "|"+ @mid_4 + "|" + @mid_5 + "|" + @max +
"&chxr=0,-15,70|1,-10,95
&chxs=0,676767,8.5,-1,lt,676767|1,676767,11.5,0,lt,676767&chxt=x,y
&chbh=a,5,19
&chs=420x240
&cht=bvg
&chco=4D89F9,AA0033
&chds=0," + @max + ",0," + @max +
"&chd=t1:" + @values +
"&chdl=Velocity|Target&chg=-1,-1,0,0
&chma=|10
&chm=B,C6D9FD,0,0,0,-1|D,041541,0,-0.1,3|D,CD2020,1,-0.1,3,1")%>" width="420" height="200" alt="" />
</center>