<center>
  <div style="padding-top: 10px"></div>
<img src="<%=  ("http://chart.apis.google.com/chart?
chxl=0:" +
@iterations +
"1:|0|"+ @mid_1 +"|" + @mid_2 + "|" +@mid + "|"+ @mid_4 + "|" + @mid_5 + "|" + @max +
"&chxr=0,0,1|0,0,1&chxt=x,y&chs=400x200
&cht=lc&chco=008000&chds=0," + @max +
"&chd=t:" +
@values +
"&chdl=" +
@currency + "(%)" +
"&chg=25,50
&chls=2,4,0") %>" width="400" height="200" alt="" />
</center>