<center>
  <div style="padding-top: 10px"></div>
<img src="<%=  ("http://chart.apis.google.com/chart?
chxl=0:" +
@iterations +
"1:||"+ @mid +"|" + @max +
"&chxr=0,0,105|1,0,105&chxt=x,y&chs=400x200
&cht=lc&chco=3399CC&chds=-5,100
&chd=t:" +
@values +
"&chdl=" +
@currency +
"&chg=25,50
&chls=2,4,0") %>" width="400" height="200" alt="" />
</center>